/* _variables.scss */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
.mainCont {
  font-size: 12px;
  color: black !important; }

.navbar .animated-icon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer; }
.navbar .animated-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0; }
.navbar .animated-icon span {
  background: #000; }
.navbar .animated-icon span:nth-child(1) {
  top: 0px; }
.navbar .animated-icon span:nth-child(2) {
  top: 10px; }
.navbar .animated-icon span:nth-child(3) {
  top: 20px; }
.navbar .animated-icon.open span:nth-child(1) {
  top: 11px; }
.navbar .animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }
.navbar .animated-icon.open span:nth-child(3) {
  top: 11px; }
.navbar .nav-item a {
  color: #000000 !important; }

#buttonrow {
  background-color: #f7f7f7;
  height: 50px !important;
  padding: 0 !important; }

#buttonrow button {
  font-size: 14px;
  border: none !important;
  width: 100%; }

.button1 button {
  background-color: #3ba6f7 !important;
  color: white !important; }

.button2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 50px; }

.button2 button {
  background-color: #f7f7f7;
  height: 50px;
  color: black;
  padding-left: 0px !important;
  padding-right: 0px !important; }

#profile_tekst {
  margin-top: 2%; }

#strenghtmodule {
  margin-top: 5%; }

#intromodule {
  border: 1px solid #3ba6f7;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 5%; }
