#mainCont {
  margin-top: 8%;
  font-size: 12px;
  padding-left: 0px !important;
  padding-right: 0px !important; }
  #mainCont .navbar .animated-icon {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 50%; }
  #mainCont .navbar .animated-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0; }
  #mainCont .navbar .animated-icon span {
    background: #333333; }
  #mainCont .navbar .animated-icon span:nth-child(1) {
    top: 0px; }
  #mainCont .navbar .animated-icon span:nth-child(2) {
    top: 10px; }
  #mainCont .navbar .animated-icon span:nth-child(3) {
    top: 20px; }
  #mainCont .navbar .animated-icon.open span:nth-child(1) {
    top: 11px; }
  #mainCont .navbar .animated-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  #mainCont .navbar .animated-icon.open span:nth-child(3) {
    top: 11px; }
  #mainCont #buttonrow {
    background-color: #f7f7f7;
    height: 50px !important;
    padding-left: 0px !important;
    margin-top: 8%; }
  #mainCont #buttonrow button {
    font-size: 14px;
    border: none;
    width: 100%; }
  #mainCont .buttons button {
    background-color: #3ba6f7;
    height: 50px;
    color: white;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #3ba6f7 !important; }
  #mainCont .button2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 50px; }
  #mainCont .button2 button {
    background-color: #f7f7f7;
    height: 50px;
    color: black;
    padding-left: 0px !important;
    padding-right: 0px !important; }
  #mainCont #profile_tekst {
    margin-top: 2%; }
  #mainCont #strenghtmodule {
    margin-top: 5%; }
  #mainCont #intromodule {
    border: 1px solid #3ba6f7;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 5%; }
  #mainCont #sessions {
    margin-top: 8%; }
  #mainCont #sessions h5 {
    font-size: 8px; }
  #mainCont #sessions p {
    font-size: 8px; }
  #mainCont .deler {
    width: 75%; }
  #mainCont .sessiontekst {
    margin-top: 2% !important; }
