/* Scss Document */
$prim-color: #3ba6f7;

input {
	width: 30px;
}

.user-input {
	
	input {
			width: 40px;
			height: 30px;
		}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	 		 -webkit-appearance: none; 
		 	margin: 0; 
	}
	
	input, select, textarea{
    color: #000;
}
}

.custom-checkbox {
	width: 30px;
	height: 30px;
	
		&:before {
	background-color: white !important;
	}
}

input[type=number] {
	border: 1 solid black;
}
